---
import Layout from '../components/layout/Layout.astro';
import { buildScript } from '../utils/EsbuildUtils';
import EditorPage from './_editor/EditorPage.astro';

const depScript = await buildScript('pages/_editor/EditorPage');
---

<Layout title="HTML Vault" inlineFavicon={false}>
    <main>
        <EditorPage />
        <script set:html={depScript}></script>
    </main>
</Layout>

<style>
    h1 {
        margin: 0;
    }
</style>
