---
import type { ErrorHintId } from './ErrorHint';

export interface Props {
    id: ErrorHintId;
    hidden?: boolean;
}

const { id, hidden } = Astro.props;
---

<div id={id} hidden={hidden} class="error-hint"><slot /></div>

<style>
    .error-hint {
        color: var(--color-error);
        font-weight: bold;
        align-self: flex-start;
        opacity: 0;
        animation: popIn 300ms ease-out;
        animation-fill-mode: forwards;
    }

    @keyframes popIn {
        0% {
            scale: 0.6;
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        80% {
            scale: 1.05;
        }
        100% {
            scale: 1;
            opacity: 1;
        }
    }
</style>
