---
import type { FilePickerId } from './FilePicker';

export interface Props {
    id: FilePickerId;
}

const { id } = Astro.props;
---

<div class="file-picker" id={id}>
    <input id={`${id}-input`} type="file" multiple hidden />
    <slot />
</div>

<style>
    .file-picker {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
</style>
